body {
    background-color: hsl(0, 0%, 98%);
}

.title-1 {
    font-family: Poppins;
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}

.title-2 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-family: 'Poppins';
}

.content-title {
    text-align: center;
}

.title-paragraph {
    color: hsl(229, 6%, 66%);
    font-family: Poppins;
    font-weight: 400;
}

.container-1 {
    border-top: 7px solid hsl(180, 62%, 55%);
    box-shadow: 0px 0px 5px hsl(234, 12%, 34%);
    border-radius: 10px;
}

.container-title-1 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-family: 'Poppins';
}

.container-paragraph-1 {
    font-family: Poppins;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

.container-2 {
    border-top: 7px solid hsl(0, 78%, 62%);
    border-radius: 10px;
    box-shadow: 0px 0px 5px hsl(234, 12%, 34%);
}

.container-title-2 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-family: 'Poppins';
}

.container-paragraph-2 {
    font-family: Poppins;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

.container-3 {
    border-top: 7px solid hsl(34, 97%, 64%);
    box-shadow: 0px 0px 5px hsl(234, 12%, 34%);
    border-radius: 10px;
}

.container-title-3 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-family: 'Poppins';
}

.container-paragraph-3 {
    font-family: Poppins;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

.container-4 {
    border-top: 7px solid hsl(212, 86%, 64%);
    box-shadow: 0px 0px 5px hsl(234, 12%, 34%);
    border-radius: 10px;
}

.container-title-4 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-family: 'Poppins';
}

.container-paragraph-4 {
    font-family: Poppins;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}

@media screen and (min-width:1024px) {
    
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 20px;
        overflow: hidden;
    }

    .content {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .title-paragraph {
        padding: 0 500px;    
    }

    .containers {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .container-1 {
        padding: 10px;
        max-width: 400px;
        width: 100%;
    }

    .container-title-1 {
        padding-left: 20px;
    }

    .container-paragraph-1 {
        padding-left: 20px;
        padding-right: 62px;
    }

    .image {
        display: block;
        margin-left: auto;
    }

    .container-2-and-3 { 
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container-2 {
        padding: 10px;
        max-width: 400px;
        width: 100%;
    }

    .container-title-2 {
        padding-left: 20px;
    }

    .container-paragraph-2 {
        padding-left: 20px;
        padding-right: 62px;
    }

    .container-3 {
        padding: 10px;
        max-width: 400px;
        width: 100%;
    }

    .container-title-3 {
        padding-left: 20px;
    }

    .container-paragraph-3 {
        padding-left: 20px;
        padding-right: 62px;
    }

    .container-4 {
        padding: 10px;
        max-width: 400px;
        width: 100%;
    }

    .container-title-4 {
        padding-left: 20px;
    }

    .container-paragraph-4 {
        padding-left: 20px;
        padding-right: 62px;
    }
}

@media screen and (max-width: 767px) {

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    .containers {
        gap: 10px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .container-title-1 {
        font-size: 12px;
        padding-left: 10px;
    }

    .container-paragraph-1 {
        font-size: 12px;
        padding-left: 10px;
    }

    .container-2-and-3 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .container-title-2 {
        font-size: 12px;
        padding-left: 10px;
    }

    .container-paragraph-2 {
        font-size: 12px;
        padding-left: 10px;
    }

    .container-title-3 {
        font-size: 12px;
        padding-left: 10px;
    }

    .container-paragraph-3 {
        font-size: 12px;
        padding-left: 10px;
    }

    .container-title-4 {
        font-size: 12px;
        padding-left: 10px;
    }

    .container-paragraph-4 {
        font-size: 12px;
        padding-left: 10px;
    }
    
    .image {
        width: 10%;
        display: block;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: 10px;
    }

}

@media screen and (min-width: 768px ) and (max-width: 1023px) {

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    .title-paragraph {
        font-size: 24px;
    }

    .containers {
        gap: 10px;
        display: grid;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .container-1 {
        height: 100%;
    }

    .container-title-1 {
        font-size: 12px;
        padding-left: 10px;
    }

    .container-paragraph-1 {
        font-size: 14px;
        padding-left: 10px;
    }

    .container-2-and-3 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        grid-row: 1 / 4;
        height: 100%;
    }

    .container-title-2 {
        font-size: 12px;
        padding-left: 10px;
    }

    .container-paragraph-2 {
        font-size: 14px;
        padding-left: 10px;
    }

    .container-title-3 {
        font-size: 12px;
        padding-left: 10px;
    }

    .container-paragraph-3 {
        font-size: 14px;
        padding-left: 10px;
    }

    .container-4 {
        height: 100%;
    }

    .container-title-4 {
        font-size: 12px;
        padding-left: 10px;
    }

    .container-paragraph-4 {
        font-size: 14px;
        padding-left: 10px;
    }
    
    .image {
        display: block;
        margin-left: auto;
        margin-bottom: 10px;
        margin-right: 10px;
        width: 9%;
    }

}